Repository IAMconsortium/common-definitions, pull requests merged in 2024-12, with the labels that each got.

#209 Add variables for combustion and fugitive emissions of fuel supply
  definitions/variable/emissions/emissions.yaml
Labels: emissions

#245 Align AIM/Hub-Global and WITCH model regions and mappings filenames
  definitions/region/native_regions/AIM_HUB_GLOBAL_2.4.yaml
  definitions/region/native_regions/WITCH_6.0.yml
  mappings/AIM_HUB_GLOBAL_2.4.yaml
  mappings/WITCH_6.0.yml
Labels: bug

#248 Add copper tag in energy sector tag list
  definitions/variable/energy/tag_all_sectors.yaml
Labels: energy
